proyecto_solicitudes/Connected Services/wcfDatos/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53383/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53383/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53383/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ControlAsistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ControlAsistencia" />
  </wsdl:message>
  <wsdl:message name="IService_ControlAsistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ControlAsistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ControlAsistenciaSalir_InputMessage">
    <wsdl:part name="parameters" element="tns:ControlAsistenciaSalir" />
  </wsdl:message>
  <wsdl:message name="IService_ControlAsistenciaSalir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ControlAsistenciaSalirResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ModificarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IService_ModificarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarControl_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarControl" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarControl_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarControlResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ValidarUsuario" message="tns:IService_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ValidarUsuarioResponse" message="tns:IService_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarSolicitud" message="tns:IService_AgregarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarSolicitudResponse" message="tns:IService_AgregarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ControlAsistencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ControlAsistencia" message="tns:IService_ControlAsistencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ControlAsistenciaResponse" message="tns:IService_ControlAsistencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ControlAsistenciaSalir">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ControlAsistenciaSalir" message="tns:IService_ControlAsistenciaSalir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ControlAsistenciaSalirResponse" message="tns:IService_ControlAsistenciaSalir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ModificarSolicitud" message="tns:IService_ModificarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ModificarSolicitudResponse" message="tns:IService_ModificarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarControl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuscarControl" message="tns:IService_BuscarControl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuscarControlResponse" message="tns:IService_BuscarControl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ControlAsistencia">
      <soap:operation soapAction="http://tempuri.org/IService/ControlAsistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ControlAsistenciaSalir">
      <soap:operation soapAction="http://tempuri.org/IService/ControlAsistenciaSalir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IService/ModificarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarControl">
      <soap:operation soapAction="http://tempuri.org/IService/BuscarControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:53383/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>